<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{forecast.city.name}}</h3>

    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let day of forecast.list">
        {{ day.dt_txt | date:'fullDate' }}
        {{ day.weather[0].description }}
        - Min: {{ day.main.temp_min }}
        - Max: {{ day.main.temp_max }}

        <img class="icon" [src]="getIcon(day.weather[0].main)">
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" routerLink="/home">&lt; Back to main page</button>
</div>